<% if f.object.has_attribute? :title_tag %>
  <div data-hook="admin_product_form_meta" class="alpha omega twelve columns">
    <%= f.field_container :title_tag do %>
      <%= f.label :title_tag, t(:title_tag) %><br />
      <%= f.text_field :title_tag, :class => 'fullwidth' %>
    <% end %>

    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords, t(:meta_keywords) %><br />
      <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
    <% end %>

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description, t(:meta_description) %><br />
      <%= f.text_field :meta_description, :class => 'fullwidth' %>
    <% end %>
  </div>
<% end %>